#
###### Requirements without Version Specifiers ######
django        # Web Framework we will be using, see: https://pypi.org/project/Django/
pandas        # Reads .csv .xlsx .json, does much more in the way oh handling data, see: https://pypi.org/project/pandas/
pylint        # Makes sure our code is being built to standards offPEP8, see: https://pypi.org/project/pylint/
Sphinx        # Builds documentation based off of code we push, see: https://pypi.org/project/Sphinx/
recommonmark  # Helps with sphinx markdown, see
pymongo       # is a native Python driver for MongoDB, see: https://pypi.org/project/pymongo/
mongoengine   # give structure to MongoDB and provides validation, see: https://pypi.org/project/mongoengine/

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers

#
###### Refer to other requirements files ######

#
#
###### A particular file ######

#
###### Additional Requirements without Version Specifiers ######
#   Same as 1st section, just here to show that you can put things in any order.
#