<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Customer</title>

</head>

<body>
<h1>Hello World</h1>
<form action="#" method="POST" name='form' id='form'>{% csrf_token %}

    <label for="">CustomerName</label><br>
    <input type="text" name="customerName"><br><br>

    <input type="submit"> {% for message in messages %}
        <ul>{{ message }}</ul>
    {% endfor %} {{ form.errors }}
    <p id='fail' style="display:none">ERROR</p>
</form>
</body>

</html>