<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Customer</title>

    <!-- TODO FIGURE OUT LOCAL IMPORTS -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('form').submit(function() {
                var formdata = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: "/api/Customer/",
                    data: formdata,
                    success: function(response) {
                        document.getElementById('form').reset();
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        var errorMessage = xhr.status + ': ' + xhr.statusText
                        alert('Error - ' + errorMessage);
                    },

                });

                return false;
            });
        });
    </script>
</head>

<body>
    <h1>Hello World</h1>
    <form action="#" method="POST" name='form' id='form'>{% csrf_token %}
        <label for="">CreatedUser</label><br>
        <input type="text" name="createdUser"><br><br>

        <label for="">CreatedTimeStamp</label><br>
        <input type="text" name="createdTimeStamp"><br><br>

        <label for="">LastModifiedUser</label><br>
        <input type="text" name="lastModifiedUser"><br><br>

        <label for="">LastModifiedTimeStamp</label><br>
        <input type="text" name="lastModifiedTimeStamp"><br><br>

        <label for="">cls</label><br>
        <input type="text" name="cls"><br><br>

        <label for="">CustomerName</label><br>
        <input type="text" name="customerName"><br><br>

        <input type="submit">
    </form>
</body>

</html>