<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an Employee</title>
   <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('form').submit(function() {
                var formdata = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: "/api/Employee/",
                    data: formdata,
                    success: function(response) {
                        document.getElementById('form').reset();
                        $('#success').show();

                        setTimeout(function() {
                            $("#success").hide();
                        }, 5000);
                    },
                    error: function(response) {
                        $('#fail').show();

                        setTimeout(function() {
                            $("#fail").hide();
                        }, 5000);
                    },

                });

                return false;
            });
        });
    </script> -->
</head>
<body>
    <h1>Employee:</h1><br><br>

    <!-- General info -->
    <form action="#" method="POST" name='form' id='form'>{% csrf_token %}
        <label for="">Created User:</label>
        <input type="text" name='createdUser'><br><br>

        <label for="">User Name:</label>
        <input type="text" name="userName"><br><br>

        <label for="">First Name:</label>
        <input type="text" name="firstName"><br><br>

        <label for="">Last Name:</label>
        <input type="text" name='lastName'><br><br>

        <label for="">Birth Date:</label>
        <input type="date" name='birthDate'><br><br>




        <label for="Store">Address</label>
        <input type="text" id="AddressLineOne" name="addressLineOne" maxlength="40" size="15" style="margin-left: 4em" placeholder="Address Line 1" required><br>


        <input type="text" id="AddressLineTwo" name="addressLineTwo" maxlength="40" size="15" style="margin-left: 4em" placeholder="Address Line 2"><br>


        <input type="text" id="City" name="city" maxlength="20" size="10" style="margin-left: 4em" placeholder="City" required><br><br>

        {% include 'frontend/helpers/state.html' %}

        <label for="address.zip">Postal Code</label>
        <input type="text" id="zip" name="zip" maxlength="10" size="10" style="margin-left: 4em" placeholder="Postal Code" required><br><br>

        {% include 'frontend/helpers/country.html' %}


        <label for="">Email: </label>
        <input type="email" name="email"><br><br>

        <label for="">Phone: </label>
        <input type="tel" name="phone"><br><br>

        <label for="">Pin: </label>
        <input type="text" name="pin"><br><br>


        <label for="">Rate of Pay: </label>
        <input type="text" name="rateOfPay"><br><br>


        <label for="">Active</label>
        <input type="checkbox" style="margin-left: 4em" id="active" name="active" value='true' checked=''><br><br>




        <label for="">Type: </label>
        <input type="text" name="type"><br><br>

        <label for="">Password: </label>
        <input type="password" name="passwordHash"><br><br>

        <input type="submit">
{% for message in messages %}
        <ul>{{ message }}</ul>
    {% endfor %} {{ form.errors }}
        <p id='success' style="display:none">Successfully Added</p>
        <p id='fail' style="display:none">ERROR</p>
    </form>

</body>

</html>