<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django REST with React</title>
</head>

<body>
<div id="app">
    <!-- React will load here -->
</div>
</body>
{% load static %}
<h1>Hello Tracker:</h1>
<h3>Pages:</h3>
<a href="customerForm">Customer Form</a><br>
<a href="employeeForm">Employee Form</a><br>
<a href="sowForm">SOW Form</a><br>
<a href="storeForm">Store Form</a><br>
<a href="workOrderForm">Work Order Form</a><br>
<a href="workOrderStatusForm">Work Order Status Form</a><br>
<a href="microRegionForm">Micro Region Form</a><br>
<a href="regionForm">Region Form</a><br>

<p>NOTE: SOW is in progress</p>
<br>

<h3>Reports:</h3><br><br>
<a href="customerReport">Customer Report</a><br>
<a href="employeeReport">Employee Report</a><br>
<a href="storeReport">Store Report</a><br>
<a href="sowReport">Scope of Work Report</a><br>
<a href="workOrderReport">Work Order Report</a><br>

<a href="articleNumberReport">Article Number Report</a><br>
<a href="articleNumberStateReport">Article Number State Report</a><br>
<a href="laborItemReport">Labor Item Report</a><br>
<a href="materialItemReport">Material Item Report</a><br>
<a href="materialListReport">Material List Report</a><br>

<a href="orderMaterialReport">Order Material Report</a><br>
<a href="locationInStoreReport">Location In Store Report</a><br>
<a href="sowStatusReport">SOW Status Report</a><br>
<a href="microRegionCodeReport">Micro Region Code Report</a><br>
<a href="regionCodeReport">Region Code Report</a><br>

<a href="workOrderStatusReport">Work Order Status Report</a><br>
<a href="prepWorkReport">Prep Work Report</a><br>
<a href="schedulingWorkReport">Scheduling Work Report</a><br>
<br>

<h3>API:</h3><br><br>
<a href="/api/Customer">Customer Form</a><br>
<a href="/api/Employee">Employee Form</a><br>
<a href="/api/SOW">Work Order Form</a><br>
<a href="/api/Store">Store Form</a><br>
<a href="/api/WorkOrder">Work Order Form</a><br>


<script src="{% static " frontend/main.js " %}"></script>

<button onclick="location.href = '/logout';" id="myButton" class="float-left submit-button" >Log Out</button>

</html>