{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django REST with React</title>
</head>

<body>
{% include 'frontend/helpers/navbar.html' %}
{% load static %}
<h1>Hello Tracker:</h1>
<h3>Pages:</h3>
<a href="customerForm">Customer Form</a><br>
<a href="employeeForm">Employee Form</a><br>
<a href="storeForm">Store Form</a><br>
<a href="sowForm">Scope of Work Form</a><br>
<a href="workOrderForm">Work Order Form</a><br>

<a href="articleNumberForm">Article Number Form</a><br>
<a href="articleNumberStateForm">Article Number State Form</a><br>
<a href="laborItemForm">Labor Item Form</a><br>
<a href="materialItemForm">Material Item Form</a><br>
<a href="materialListForm">Material List Form</a><br>

<a href="orderMaterialForm">Order Material Form</a><br>
<a href="locationInStoreForm">Location In Store Form</a><br>
<a href="sowStatusForm">SOW Status Form</a><br>
<a href="microRegionCodeForm">Micro Region Code Form</a><br>
<a href="regionCodeForm">Region Code Form</a><br>

<a href="workOrderStatusForm">Work Order Status Form</a><br>
<a href="prepWorkForm">Prep Work Form</a><br>
<a href="schedulingWorkForm">Scheduling Work Form</a><br>


<h3>Reports:</h3><br><br>
<a href="customerReport">Customer Report</a><br>
<a href="employeeReport">Employee Report</a><br>
<a href="storeReport">Store Report</a><br>
<a href="sowReport">Scope of Work Report</a><br>
<a href="workOrderReport">Work Order Report</a><br>

<a href="articleNumberReport">Article Number Report</a><br>
<a href="articleNumberStateReport">Article Number State Report</a><br>
<a href="laborItemReport">Labor Item Report</a><br>
<a href="materialItemReport">Material Item Report</a><br>
<a href="materialListReport">Material List Report</a><br>

<a href="orderMaterialReport">Order Material Report</a><br>
<a href="locationInStoreReport">Location In Store Report</a><br>
<a href="sowStatusReport">SOW Status Report</a><br>
<a href="microRegionCodeReport">Micro Region Code Report</a><br>
<a href="regionCodeReport">Region Code Report</a><br>

<a href="workOrderStatusReport">Work Order Status Report</a><br>
<a href="prepWorkReport">Prep Work Report</a><br>
<a href="schedulingWorkReport">Scheduling Work Report</a><br>
<br>

<h3>API:</h3><br><br>
<a href="/api/Customer">Customer Form</a><br>
<a href="/api/Employee">Employee Form</a><br>
<a href="/api/SOW">Work Order Form</a><br>
<a href="/api/Store">Store Form</a><br>
<a href="/api/WorkOrder">Work Order Form</a><br>


<script src="{% static "frontend/main.js" %}"></script>
<script type="module" src="{% static "frontend/bundle.js" %}"></script>
<button onclick="lib.logout();" id="myButton" class="float-left submit-button">Log Out</button>
</body>
</html>