{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Micro Region</title>

</head>

<body>
{% include 'frontend/helpers/navbar.html' %}
<h1>Micro Region Code:</h1>
<form action="#" method="POST" name='form' id='form'>{% csrf_token %}

    <label for="">Micro Region Code</label>
    <input type="text" name="regionCode"><br><br>

    <input type="submit"> {% for message in messages %}
        <ul>{{ message }}</ul>
    {% endfor %} {{ form.errors }}
    <p id='fail' style="display:none">ERROR</p>
</form>
</body>

</html>