{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prep Work Form</title>

    <script type="text/javascript">
        $(document).ready(function() {
            $('form').submit(function() {
                var formdata = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: "/api/PrepWork/",
                    data: formdata,
                    success: function(response) {
                        document.getElementById('form').reset();
                        $('#success').show();

                        setTimeout(function() {
                            $("#success").hide();
                        }, 5000);
                    },
                    error: function(response) {
                        $('#fail').show();

                        setTimeout(function() {
                            $("#fail").hide();
                        }, 5000);
                    },

                });

                return false;
            });
        });
    </script>
</head>

<body>
{% include 'frontend/helpers/navbar.html' %}
    <h1>Prep Work Form: </h1><br><br>

<form action="" method="post"> {% csrf_token %}
        <label for="">Work Order: </label>
        <select name="fkWorkOrderName" required>
            <option value="" selected="selected">Work Order</option>
            {% for w in work_order %}
                <option value={{ w.id }}>{{ w.workOrderName }}</option>
            {% endfor %}
            <option value="Other">Other</option>
        </select><br><br>

    <label for="">Inspection Due Date: </label>
    <input type="date"><br><br>

    <hr>
    <label for="downloadMLX">Download MLX: </label>
    <input type="radio" name="downloadMLX"> <label for="" value="True">Yes</label>
    <input type="radio" name="downloadMLX"> <label for="" value="False">No</label><br><br>


    <label for="downloadMLX">Excel Inspect Upload: </label>
    <input type="radio" name="excelInspectUpload"> <label for="" value="True">Yes</label>
    <input type="radio" name="excelInspectUpload"> <label for="" value="False">No</label><br><br>

    <label for="downloadMLX">Inspection Pictures: </label>
    <input type="radio" name="inspectionPictures"> <label for="" value="True">Yes</label>
    <input type="radio" name="inspectionPictures"> <label for="" value="False">No</label><br><br>

    <label for="downloadMLX">Posted sync: </label>
    <input type="radio" name="postedSync"> <label for="" value="True">Yes</label>
    <input type="radio" name="postedSync"> <label for="" value="False">No</label><br><br>

    <label for="downloadMLX">Form Complete: </label>
    <input type="radio" name="formComplete"> <label for="" value="True">Yes</label>
    <input type="radio" name="formComplete"> <label for="" value="False">No</label><br><br>

    <label for="downloadMLX">Concrete Patch needed: </label>
    <input type="radio" name="concretePatchNeeded"> <label for="" value="True">Yes</label>
    <input type="radio" name="concretePatchNeeded"> <label for="" value="False">No</label><br><br>


    <label for="">Material Order Number HD: </label><input type="text"><br><br>
    <label for="">cpn ETA: </label><input type="date"><br><br>

    <label for="">Last Date Checked: </label><input type="date"><br><br>

    <input type="submit">
</form>
</body>

</html>