{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>

</head>
<body onload="lib.logout()">
{% include 'frontend/helpers/navbar.html' %}
<script type="module" src="{% static "frontend/bundle.js" %}"></script>

<h1>User Sign-In</h1>
<form onsubmit="lib.login(event,'{{ csrf_token }}')" method="POST" name='form' id='form'>
    {% csrf_token %}
    <label for="">Username</label><br>
    <input id="username" type="text" name="username"><br><br>

    <label for="">Password</label><br>
    <input id="password" type="password" name="password"><br><br>

    <input type="submit">
</form>
</body>
</html>