{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOW Form</title>
</head>

<body>
{% include 'frontend/helpers/navbar.html' %}
    <h1>Statement of Work Form</h1><br><br>

    <label for="">Labor To Be Done:</label><br>
    <!-- Multi Column Selection HERE -->
    <!-- This needs to be created/adapted -->

    <label for="">Extra Labor Done:</label><br>

    <label for="">Required Materials</label><br>

    <label for="">Status</label>
</body>

</html>