{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Store Entry</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function getCount(parent, getChildrensChildren){
            var relevantChildren = 0;
            var children = parent.childNodes.length;
            for(var i=0; i < children; i++){
                if(parent.childNodes[i].nodeType != 3){
                    if(getChildrensChildren)
                        relevantChildren += getCount(parent.childNodes[i],true);
                    relevantChildren++;
                }
            }
            return relevantChildren;
        }
        function add(containerName, type, name){
            var container = document.getElementById(containerName);
            var input = document.createElement("input");
                input.type = type;

                input.name = name;
                container.appendChild(document.createElement("br"));
                container.appendChild(input);
                // Append a line break
                container.appendChild(document.createElement("br"));
                return false;
        }
        function remove(containerName){
            var numElementsInSelection = 3
            var container = document.getElementById(containerName);
            for (i = 0; i < numElementsInSelection; i++) {
                container.childNodes.item(container.childElementCount -1).remove();
            }
            return false;
        }

    </script>
</head>

{% include 'frontend/helpers/navbar.html' %}
<form action = '#' method="POST">{% csrf_token %}
        <h3>Form:</h3>
        <label for="customer">Customer</label>
        <select name="fkCustomer" for="CustomerNames" required>
            <option value="" selected="selected">Customer</option>
            {% for customer in cust %}
                <option value={{ customer.id }}>{{ customer.customerName }}</option>
            {% endfor %}
            <option value="Other">Other</option>
        </select><br><br>

    <!-- Store information -->
    <div>
        <label for="storeNumber">Store</label>
        <input type="text" id="Store" name="storeNumber" maxlength="10" size="10" style="margin-left: 4em" required><br><br>

        <label for="addressLineOne">Address</label>
        <input type="text" id="AddressLineOne" name="addressLineOne" maxlength="40" size="15" style="margin-left: 4em"
               placeholder="Address Line 1" required><br>


        <input type="text" id="AddressLineTwo" name="addressLineTwo" maxlength="40" size="15" style="margin-left: 4em"
               placeholder="Address Line 2"><br>


        <input type="text" id="City" name="city" maxlength="20" size="10" style="margin-left: 4em" placeholder="City"
               required><br><br>

        {% include 'frontend/helpers/states.html' %}


        <label for="PostalCode">Postal Code</label>
        <input type="text" id="zip" name="zip" maxlength="10" size="10" style="margin-left: 4em" placeholder="Postal Code" required><br><br>

        {% include 'frontend/helpers/countries.html' %}

        <label for="region">Region Name</label>
        <input type="text" name="region" style="margin-left: 4em" required><br><br>

        <label for="division">Division</label>
        <input type="text" name="division" style="margin-left: 4em" required><br><br>

        <label for="awardedVendor">Awarded Vendor</label>
        <input type="text" name="awardedVendor" style="margin-left: 4em" value="PR Skate" required><br><br>
    </div>

    <div>
        <hr>
        <h2>Store Contact Info</h2><br><br>

        <label for="phoneNumber">Phone Number</label>
        <input type="tel" name="phoneNumber" style="margin-left: 4em"><br><br>



        <label for="StoreManagerEmail">Store Manager Name</label>
        <input type="text" name="storeManagerNameFirst" style="margin-left: 4em" placeholder="First">
        <input type="text" name="storeManagerNameLast" style="margin-left: 4em" placeholder="Last"><br><br>

        <label for="StoreManagerEmail">Store Manager Email</label>
        <input type="email" name="storeManagerEmail" style="margin-left: 4em" placeholder="Email"><br><br><br>


        <label>OPS Manager Name</label>
        <input type="text" name="opsManagerNameFirst" style="margin-left: 4em" placeholder="First">
        <input type="text" name="opsManagerNameLast" style="margin-left: 4em" placeholder="Last"><br><br>

        <label for="opsManagerEmail">Ops Manager Email</label>
        <input type="email" name="opsManagerEmail" style="margin-left: 4em" placeholder="Email"><br><br><br>


        <label>Manager Name</label>
        <input type="text" name="managerNameFirst" style="margin-left: 4em" placeholder="First">
        <input type="text" name="managerNameLast" style="margin-left: 4em" placeholder="Last"><br><br>

        <label for="ManagerEmail">Manager Email</label>
        <input type="email" name="managerEmail" style="margin-left: 4em" placeholder="Email"><br><br><br>


        <label>Overnight Name</label>
        <input type="text" name="overnightNameFirst" style="margin-left: 4em" placeholder="First">
        <input type="text" name="overnightNameLast" style="margin-left: 4em" placeholder="Last"><br><br>

        <label for="OvernightManagerEmail">Overnight Manager Email</label>
        <input type="email" name="overnightManagerEmail" style="margin-left: 4em" placeholder="Email"><br><br><br>
    </div>



    <div>
        <hr>
        <h2>Overnight Information</h2><br><br>

        <label for="">Overnight Crew</label><br>

        <input type="radio" style="margin-left: 4em" id="overnightCrew" value="1 AM" name="overnightCrew" required>
        <label for="">1 AM</label><br><br>

        <input type="radio" style="margin-left: 4em" id="overnightCrew" value="Full Time" name="overnightCrew" request>
        <label for="">Full Time</label><br><br>


        <label for="">Overnight Access</label><br><br>

        <input type="checkbox" id="overnightAccess" name="overnightAccess" value='SUN' style="margin-left: 4em" unchecked>
        <label for="">Sunday</label><br><br>
            <input type="checkbox" id="overnightAccess" name="overnightAccess" value='MON' style="margin-left: 4em" unchecked>
            <label for="">Monday</label><br><br>
            <input type="checkbox" id="overnightAccess" name="overnightAccess" value='TUES' style="margin-left: 4em" unchecked>
            <label for="">Tuesday</label><br><br>
            <input type="checkbox" id="overnightAccess" name="overnightAccess" value='WED' style="margin-left: 4em" unchecked>
            <label for="">Wednesday</label><br><br>
            <input type="checkbox" id="overnightAccess" name="overnightAccess" value='THURS' style="margin-left: 4em" unchecked>
            <label for="">Thursday</label><br><br>
            <input type="checkbox" id="overnightAccess" name="overnightAccess" value='FRI' style="margin-left: 4em" unchecked>
            <label for="">Friday</label><br><br>
            <input type="checkbox" id="overnightAccess" name="overnightAccess" value='SAT' style="margin-left: 4em" unchecked>
            <label for="">Saturday</label><br><br>


            <label for="">Noise Ordinance</label><br><br>
            <input type="radio" style="margin-left: 4em" id="noiseOrdinance" name="noiseOrdinance" value="true" required>
            <label for="">Yes</label><br><br>

            <input type="radio" style="margin-left: 4em" id="noiseOrdinance" name="noiseOrdinance" value="false" required>
            <label for="">No</label><br><br>

            <label for="" >Time Cut Off</label>
            <input type="time" name="timeCutOff"><br><br>

            <!-- The two following fields will have to be altered to allow for multiple entries (usuing jquery and JS) -->
            <label for="">Inspection Due Dates</label><br>
            <input type="date" name="inspectionDueDates"><br>
            <div id = "inspDates" name = "inspDates"></div>
            <input type="button" onclick="add('inspDates','date', 'inspectionDueDates' )" value="Add">
            <input type="button" onclick="remove('inspDates')" value="Remove"><br><br>

            <label for="">Installation Due Dates</label><br>
            <input type="date" name="installationDueDates"><br>
            <div id = "instlDates" name = "instlDates"></div>
            <input type="button" onclick="add('instlDates','date', 'installationDueDates' )" value="Add">
            <input type="button" onclick="remove('instlDates')" value="Remove">
        </div>

        <div>
            <hr>
            <h2>Section</h2><br><br>

            <label for="fiscalWeek">Fiscal Week</label>
            <input type="number" id="fiscalWeek" name="fiscalWeek" min="1" max="53" style="width: 3em" required><br><br>


            <label for="regionCode">RegionCode</label>
            <select name="fkRegionCode" for="regionCode" required>
                <option value="" selected="selected">Region Code</option>
                    {% for rc in region_code %}
                <option value={{ rc.id }}>{{ rc.regionCode }}</option>
                    {% endfor %}
                <option value="Other">Other</option>
            </select><br><br>


            <label for="microRegionCode">MicroRegionCode</label>
            <select name="fkMicroRegionCode" for="microRegionCode" required>
                <option value="" selected="selected">Micro Region Code</option>
                    {% for mrc in micro_region_code %}
                <option value={{ mrc.id }}>{{ mrc.regionCode }}</option>
                    {% endfor %}
                <option value="Other">Other</option>
            </select><br><br>


            <label for="latitude">Latitude</label>
            <input type="number" name="latitude" step="0.000001" required pattern="^\d*(\.\d{0,8})?$" /><br><br>

            <label for="longitude">Longitude</label>
            <input type="number" name="longitude" step="0.000001" required pattern="^\d*(\.\d{0,8})?$" /><br><br>

            <label for="Active">Active</label>
            <input type="radio" name="active" id="" value="true"checked required>
            <label for="">Yes</label>

            <input type="radio" name="active" id="" value="false" required>
            <label for="">No</label>
            <br><br>

            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>





    <!-- This can be taken out. It is only kept for reference of id="app" -->
    <div id="app">
        <!-- React will load here -->
    </div>

<!-- {% load static %} -->
<!-- <script src="{% static " frontend/main.js " %}"></script> -->

</html>