{% load static %}
{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ table_name }} Report</title>
</head>
<script type="module" src="{% static "frontend/bundle.js" %}"></script>
<body onload="lib.checkSignInStatus()">
{% include 'frontend/helpers/navbar.html' %}
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-color: #aabcfe;
        border-spacing: 0;
        margin: 0px auto;
    }

    .tg td {
        background-color: #e8edff;
        border-color: #aabcfe;
        border-style: solid;
        border-width: 1px;
        color: #669;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 4px;
        word-break: normal;
    }

    .tg th {
        background-color: #b9c9fe;
        border-color: #aabcfe;
        border-style: solid;
        border-width: 1px;
        color: #039;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 4px;
        word-break: normal;
    }

    .tg .tg-qrfk {
        background-color: #ffffff;
        border-color: #211f2d;
        color: #211f2d;
        position: -webkit-sticky;
        position: sticky;
        text-align: center;
        top: -1px;
        vertical-align: top;
        will-change: transform
    }

    .tg .tg-t780 {
        background-color: #efefef;
        border-color: #211f2d;
        color: #211f2d;
        text-align: center;
        vertical-align: middle
    }

    .tg .tg-6xvo {
        background-color: #211f2d;
        border-color: #211f2d;
        color: #ffffff;
        position: -webkit-sticky;
        position: sticky;
        text-align: center;
        top: -1px;
        vertical-align: top;
        will-change: transform
    }

    .tg-sort-header::-moz-selection {
        background: 0 0
    }

    .tg-sort-header::selection {
        background: 0 0
    }

    .tg-sort-header {
        cursor: pointer
    }

    .tg-sort-header:after {
        content: '';
        float: right;
        margin-top: 7px;
        border-width: 0 5px 5px;
        border-style: solid;
        border-color: #404040 transparent;
        visibility: hidden
    }

    .tg-sort-header:hover:after {
        visibility: visible
    }

    .tg-sort-asc:after, .tg-sort-asc:hover:after, .tg-sort-desc:after {
        visibility: visible;
        opacity: .4
    }

    .tg-sort-desc:after {
        border-bottom: none;
        border-width: 5px 5px 0
    }

    @media screen and (max-width: 767px) {
        .tg {
            width: auto !important;
        }

        .tg col {
            width: auto !important;
        }

        .tg-wrap {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            margin: auto 0px;
        }
    }</style>
<div class="tg- wrap">
    {% for field in fields %}
        <input type="text" id="search_{{ field }}" onkeyup="search_rows()" placeholder="Search for {{ field }}.."
               title="Type in a {{ field }}">
    {% endfor %}



    {# Alex -> Search filtering <- TODO #}
    <script>
        function isChecked(id) {
            return document.getElementById(id).checked;
        }

        function displayFilters(checkBoxID,divID, fieldName, fieldType, searchFilters){
            var div = document.getElementById(divID);
            var input;
            var select;
            if (isChecked(checkBoxID)) {
                select = document.createElement('select');
                for (i = 0; i < searchFilters.length; i++){
                    var opt = document.createElement('option');
                    opt.name = searchFilters[i];
                    opt.value = searchFilters[i];
                    opt.innerHTML= searchFilters[i];
                    select.appendChild(opt);
                }
                input = document.createElement('input');
                input.name = "search_".concat(fieldName);
                input.id = "search_".concat(fieldName);
                input.type = fieldType;
                input.onkeyup = search_rows;
                div.appendChild(select);
                div.appendChild(input);

            } else {
                while (div.hasChildNodes()){
                    div.lastChild.remove();
                }
            }
        }
    </script>


    <br><br><label for="">Search (Not yet working. Use the search above)</label><br>
    {% for field_information in field_information_list %}

        <input type="checkbox" value="{{ field_information.model_name }}" id="{{ field_information.model_name }}_check" name="{{ field_information.model_name }}_check" onchange="displayFilters('{{ field_information.model_name }}_check', '{{ field_information.model_name }}_div', '{{ field_information.model_name }}', '{% getFieldType type=field_information.type %}', {% getSearchFilters type=field_information.type %} )">
        <label for="{{ field_information.model_name }}_check">{{ field_information.model_name }}</label>
        <div id="{{ field_information.model_name }}_div"></div>
    {% endfor %}




    <table id="tg-0Xa6r" class="tg">
        <thead>
        <tr>
            <th class="tg-6xvo" colspan="{{ fields|length }}">{{ table_name }}</th>
        </tr>
        <tr>
            {% for field in fields %}
                <th class="tg-qrfk">{{ field }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for instance in instances %}
            {% with index=forloop.counter0 %}
                <tr id="{{ instance.id }}" ondblclick="test_outer(event, '{{ instance.id }}')">
                    {% for  field, attribute in instance.items %}
                        {#                    <button ondblclick="myFunction()">#}
                        <td class="tg-t780">
                            <pre id="{{ instance.id }} {{ field }}"
                                 ondblclick="editField(event, '{{ instance.id }} {{ field }}')">{{ attribute }}</pre>
                        </td>
                        {#                    </button>#}
                    {% endfor %}
                </tr>
                {#            </button>#}
            {% endwith %}
        {% endfor %}
        </tbody>
    </table>
</div>
<script charset="utf-8">var TGSort = window.TGSort || function (n) {
    "use strict";

    function r(n) {
        return n ? n.length : 0
    }

    function t(n, t, e, o = 0) {
        for (e = r(n); o < e; ++o) t(n[o], o)
    }

    function e(n) {
        return n.split("").reverse().join("")
    }

    function o(n) {
        var e = n[0];
        return t(n, function (n) {
            for (; !n.startsWith(e);) e = e.substring(0, r(e) - 1)
        }), r(e)
    }

    function u(n, r, e = []) {
        return t(n, function (n) {
            r(n) && e.push(n)
        }), e
    }

    var a = parseFloat;

    function i(n, r) {
        return function (t) {
            var e = "";
            return t.replace(n, function (n, t, o) {
                return e = t.replace(r, "") + "." + (o || "").substring(1)
            }), a(e)
        }
    }

    var s = i(/^(?:\s*)([+-]?(?:\d+)(?:,\d{3})*)(\.\d*)?$/g, /,/g),
        c = i(/^(?:\s*)([+-]?(?:\d+)(?:\.\d{3})*)(,\d*)?$/g, /\./g);

    function f(n) {
        var t = a(n);
        return !isNaN(t) && r("" + t) + 1 >= r(n) ? t : NaN
    }

    function d(n) {
        var e = [], o = n;
        return t([f, s, c], function (u) {
            var a = [], i = [];
            t(n, function (n, r) {
                r = u(n), a.push(r), r || i.push(n)
            }), r(i) < r(o) && (o = i, e = a)
        }), r(u(o, function (n) {
            return n == o[0]
        })) == r(o) ? e : []
    }

    function v(n) {
        if ("TABLE" == n.nodeName) {
            for (var a = function (r) {
                var e, o, u = [], a = [];
                return function n(r, e) {
                    e(r), t(r.childNodes, function (r) {
                        n(r, e)
                    })
                }(n, function (n) {
                    "TR" == (o = n.nodeName) ? (e = [], u.push(e), a.push(n)) : "TD" != o && "TH" != o || e.push(n)
                }), [u, a]
            }(), i = a[0], s = a[1], c = r(i), f = c > 1 && r(i[0]) < r(i[1]) ? 1 : 0, v = f + 1, p = i[f], h = r(p), l = [], g = [], N = [], m = v; m < c; ++m) {
                for (var T = 0; T < h; ++T) {
                    r(g) < h && g.push([]);
                    var C = i[m][T], L = C.textContent || C.innerText || "";
                    g[T].push(L.trim())
                }
                N.push(m - v)
            }
            t(p, function (n, t) {
                l[t] = 0;
                var a = n.classList;
                a.add("tg-sort-header"), n.addEventListener("click", function () {
                    var n = l[t];
                    !function () {
                        for (var n = 0; n < h; ++n) {
                            var r = p[n].classList;
                            r.remove("tg-sort-asc"), r.remove("tg-sort-desc"), l[n] = 0
                        }
                    }(), (n = 1 == n ? -1 : +!n) && a.add(n > 0 ? "tg-sort-asc" : "tg-sort-desc"), l[t] = n;
                    var i, f = g[t], m = function (r, t) {
                        return n * f[r].localeCompare(f[t]) || n * (r - t)
                    }, T = function (n) {
                        var t = d(n);
                        if (!r(t)) {
                            var u = o(n), a = o(n.map(e));
                            t = d(n.map(function (n) {
                                return n.substring(u, r(n) - a)
                            }))
                        }
                        return t
                    }(f);
                    (r(T) || r(T = r(u(i = f.map(Date.parse), isNaN)) ? [] : i)) && (m = function (r, t) {
                        var e = T[r], o = T[t], u = isNaN(e), a = isNaN(o);
                        return u && a ? 0 : u ? -n : a ? n : e > o ? n : e < o ? -n : n * (r - t)
                    });
                    var C, L = N.slice();
                    L.sort(m);
                    for (var E = v; E < c; ++E) (C = s[E].parentNode).removeChild(s[E]);
                    for (E = v; E < c; ++E) C.appendChild(s[v + L[E - v]])
                })
            })
        }
    }

    n.addEventListener("DOMContentLoaded", function () {
        for (var t = n.getElementsByClassName("tg"), e = 0; e < r(t); ++e) try {
            v(t[e])
        } catch (n) {
        }
    })
}(document)</script>
<script>
    // textInput- The input to search on
    // fieldValue- The value of the field in the table
    // searchFilter- The type of search filter to apply (less than, contains, does not contain, etc.)
    function func(textInput, fieldValue, searchFilter) {
        if (searchFilter === 'Is Empty' || searchFilter === 'Is Not Empty'){
            return fieldValue === '';
        }else if(searchFilter === 'Is' || searchFilter === 'Is Not'){
            return fieldValue === textInput;
        }else if(searchFilter === 'Starts With'){
            return fieldValue.startsWith(textInput);
        }else if(searchFilter === 'Ends With'){
            return fieldValue.endsWith(textInput);
        }else if(searchFilter === 'Like'){
            return false;
        }else if(searchFilter === 'Contains' || searchFilter === 'Not Contains'){
            return fieldValue.includes(textInput);
        }else{
            //Brute force search (can be optimized)
            return true;
        }
    }
    function search_rows() {
        display_all_rows()
        {% for field in field_information_list %}
            filter_{{ field.model_name }}();
        {% endfor %}
    }

    function display_all_rows() {
        let table, tableRow, i;
        table = document.getElementById("tg-0Xa6r");
        tableRow = table.getElementsByTagName("tr");
        for (i = 0; i < tableRow.length; i++) {
            tableRow[i].style.display = "";
        }
    }


    {% for field in field_information_list %}
        function filter_{{ field.model_name }}(func) {
            let input, filter, table, tableRow, tableData, i, txtValue, result;
            input = document.getElementById("search_{{ field.model_name }}");
            filter = input.value.toUpperCase();
            console.log(input.value.toUpperCase())
            console.log(filter)
            if (filter) {
                table = document.getElementById("tg-0Xa6r");
                tableRow = table.getElementsByTagName("tr");
                result = [tableRow.length]
                for (i = 2; i < tableRow.length; i++) {
                    tableData = tableRow[i].getElementsByTagName("td")[{{ forloop.counter0 }}];
                    if (tableData) {
                        txtValue = tableData.textContent || tableData.innerText;
                        if (!txtValue.includes(filter)) {
                            tableRow[i].style.display = "none";
                        }
                    }
                }
            }
            return result
        }
    {% endfor %}

    function test_outer(event, recordId) {
        console.log('OUTER')
        console.log(window.location.href)
        var report = window.location.href.split('/')

        console.log(report)

        report = report[report.length - 1]

        report = report.replace('Report', 'Form')

        location.replace(report.concat('/', recordId));

    }

    function editField(event, id) {
        const SYSTEM_FIELDS = ['createdUser', 'lastModifiedUser', 'createdTimestamp', 'lastModifiedTimestamp', 'id']

        let previousValue, parent, input, newChild, field;
        field = id.split(' ')[1]
        if (!SYSTEM_FIELDS.includes(field)) {
            event.stopPropagation();
            console.log('INNER');
            parent = document.getElementById(id).offsetParent;
            previousValue = parent.innerText;
            while (parent.hasChildNodes()) {
                parent.removeChild(parent.lastChild);
            }

            input = document.createElement("input");
            input.type = getFieldType(field)
            input.name = field
            input.value = formatValue(previousValue, field)
            input.id = id
            input.addEventListener('dblclick', (event) => {
              submit_changes(event, input.id);
            });

            newChild = parent.appendChild(input);
            console.log(newChild);
        }
        return false;
    }

    function formatValue(value, field) {
        var fieldDictionary, fieldType;
        fieldDictionary = {{ fields_dictionary | safe }}
            fieldType = fieldDictionary[field]
        switch (fieldType) {
            case 'IntField':
                value = parseInt(value)
                break;
            case 'DecimalField':
                value = parseFloat(value);
                break;
            case 'BooleanField':
                value = Boolean(value)
                break;
            case 'ReferenceField':
                value = 'select'; //TODO
                break;
            case 'ImageField':
            case 'FileField':
                value = 'file'; //TODO
                break;
            case 'DateField':
            case 'DateTimeField':
                value = lib.moment(value, 'MMMM D, YYYY, H:mm');
                value = value.format('YYYY-MM-DDTHH:MM:SS');
                break;
            case 'StringField':
            case 'EmailField':
                break;
            case 'EmbeddedDocumentField':
            case 'ListField':
                value = 'number'; //TODO
                break;
            default:
                value = null;
                break;
        }
        console.log(value)
        return value
    }

    function submit_changes(event, id) {
        let previousValue, parent, text, input, temp, fieldName, instanceID, data;
        event.stopImmediatePropagation();
        console.log('Submit');
        input = document.getElementById(id);
        parent = input.offsetParent;
        previousValue = input.value;
        while (parent.hasChildNodes()) {
            parent.removeChild(parent.lastChild);
        }
        text = document.createElement("pre");
        text.innerText = previousValue
        text.id = id

        text.addEventListener('dblclick', (event) => {
          editField(event, text.id);
          return false;
        });
        parent.appendChild(text);
        temp = JSON.parse(localStorage.getItem('auth_token_dict'));
        instanceID = id.split(' ')[0];
        fieldName = id.split(' ')[1];
        data = JSON.stringify({[fieldName]: previousValue})
        var settings = {
            "url": "/api/{{table_name}}/" + instanceID + "/",
            "type": "PUT",
            "timeout": 0,
            "headers": {
                "Authorization": "Token " + temp.token,
                "Content-Type": "application/json",
            },
            "data": data,
        };
        lib.jquery.ajax(settings).done(function (response) {
            console.log(response);
        });
        return false;
    }

    function getFieldType(field) {
        let fieldDictionary, fieldType, result;
        fieldDictionary = {{ fields_dictionary | safe }}
            fieldType = fieldDictionary[field]
        switch (fieldType) {
            case 'IntField':
            case 'DecimalField':
                result = 'number';
                break;
            case 'BooleanField':
                result = 'checkbox';
                break;
            case 'ReferenceField':
                result = 'select';
                break;
            case 'ImageField':
            case 'FileField':
                result = 'file';
                break;
            case 'DateField':
                result = 'date';
                break;
            case 'DateTimeField':
                result = 'datetime-local';
                break;
            case 'StringField':
                result = 'text';
                break;
            case 'EmailField':
                result = 'email';
            case 'EmbeddedDocumentField':
            case 'ListField':
                result = 'number'; //TODO WHAT TO DO WITH EMBEDS and LISTS? RECURSION?
                break;
            default:
                result = null;
                break;
        }
        console.log(result)
        return result;
    }
</script>
</body>
</html>