<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Order Form</title>
</head>

<body>
<h2>Work Order Form</h2><br><br><br>
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div>
        <label>Work Order</label>
        <input type="text" name="workOrderName" required><br><br>

        <label>Date</label>
        <input type="date" name="dateReceived" required><br><br>

        <label>Store Number</label>
        <select name="fkStoreNumber" required>
        {% for s in store %}
            <option value={{ s.id }}> {{ s.storeNumber }}</option>
        {% endfor %}
        </select><br><br>


        <label>Detail</label><br>
        <textarea name="detail" rows="10" cols="30" placeholder="Enter a description here. . ."></textarea><br><br>

        <label>Requesting Contact</label>
        <input type="text" name="requestingContact" required><br><br>

        <label>Priority</label>
        <input type="text" name="priority" required><br><br>

        <label>Status Code</label>
        <select name="statusCode" required>
            <option value="" selected>Select a status code</option>
            <option value="Pending Materials">Pending Materials</option>
            <option value="Ready Now">Ready Now</option>
            <option value="Other">Other</option>
        </select><br><br>

        <label>Target Start Date</label>
        <input type="date" name="targetStartDate" required><br><br>


        <label>Status</label>
        <select name="fkWorkOrderStatus" required>
            {% for s in workOrderStatus %}
                <option value="{{ s.id }}">{{ s.status }}</option>
            {% endfor %}
        </select><br><br>


        <label>Date Completed</label>
        <input type="date" name="dateCompleted" required><br><br>

        <label>Inspect For Store Upload</label>
        <input type="file" name="inspectForStorePath" accept=".pdf, .txt"><br><br>

        <label>Detailed Receipt Upload</label>
        <input type="file" name="detailedReceiptPath"><br><br>

        <label>Signage Map</label>
        <input type="file" name="signageMapPath"><br><br>

        <label>Parts Arrival Date</label>
        <input type="date" name="partsArrivalDate"><br><br>

        <hr>
        <h2>SOW Acknowledgement</h2><br>
        <h4>I acknowledge that one or more SOW line items are marked "complete" for this Work Order and hitting submit
            will mark those SOW line items as "Closed / Non-Billable" and will not be billed for this Work Order.</h4>
        <br>
        <label>SOW Acknowledgement</label>
        <input type="checkbox" value="True" required=True>
        <label>I acknowledge</label><br><br>
    </div>

    <input type="submit">

</form>
</body>

</html>